body{
	background: black;
}
#links li{
	list-style: none;
	display: inline-block;
	border:1px solid black;
	padding: 10px;
	border-radius: 15px;
	background: #138cc3;
	margin-right:10px; 
	color: white;
	font-family:play;
}
#header{
	display: flex;
	justify-content: space-between;
	border:1px solid black;
	background: #404040;
	border-radius: 15px;
}
#content{
	margin-top: 15px;
	border:1px solid black;
	background: #404040;
	border-radius: 15px;
	padding: 20px;
	width: inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
a{
	list-style: none;
	text-decoration: none;
	color: white;
}
.imgshop{
	height:100px;
}
.pshop{
	font-family: play;
	color: white;
}
.item{
	display:block;
	padding: 20px;
}