#mes{
	color: white;
	text-decoration: none;
}
body{
	font-family: play;
	background: #333333;
	color: black;
}
#container{
	width: 505px;
	margin: 0 auto;
}
.tab{
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-radius: 5px;
	background: #fff;
	padding: 6px;
}
.tabcontent{
	background: #fff;
	width: 500px;
	height: 70px;
	padding: 40px;
	border:1px solid red;
	border-top:6px solid red;
	border-radius: 15px;
	margin-top:6px;
}
.active{
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
	background: #cccccc;
}